*{
    margin: 0;
    padding: 0; 
}

h1 {
    font: size 30px;
font-family:cursive; 
    font-weight:lighter;
}

h2 {
    font: lighter 20px cursive; 
}

body {
    text-align:center ;
}

.agrupar{
    width:950px; 
    border: 1px solid black; 
    margin:  15px auto; 
    padding: 20px;      
}
.cabecera {
    background: #FFFBB9; 
    border: 20px sold #999;
    padding: 10px; 
}

.cabecera h1, h2 {
    text-align:left; 
}

.h1{
    border: 20px sold #999;
    padding: 10px;  
}

.menu {
    background: #ccc;
    padding: 5px 15px; 
    text-align: left; 
}

.menu li {
    list-style: none;  
    padding: 5px; 
    font: bold 14px cursive; 
    display: inline-block; 
}

.seccion {
    margin: 20px;
    width: 600px;   
    float: left; 
}

article {
    background: #fffbcc; 
    border: 1px solid #999; 
    padding: 20px; 
    margin-bottom: 15px; 
}

time {
    color: #999; 
}

article footer {
    text-align: right; 
    margin-top: 20px; 
}

.columna {
    width: 300px; 
    float: left; 
    margin: 20px 0; 
}

.columna blockquote{
    border: 1px solid black; 
    padding: 20px; 
    background: #FFFBB9; 
    margin-bottom: 20px;    
}

.pie {
    clear: both; 
    padding: 20px; 
    background: #2d3436; 
    color: #ffffff; 
}

